<%- include ('../presetsViews/header',{title: 'Recuperar Contraseña',login:null}) %>
    <link rel="stylesheet" href="/css/signin.css">
    <div>
        <center>
            <div class="card col-md-2 col-6" style="background-color: #8623F1; border-radius: 10px; margin-left: 5px; margin-right: 30px; margin-bottom: 5px;margin-top: 30px; width: 60%; align-items: center; ">
        <main class="form-signin">
            <form id="loginForm" action="/auth/forgot-password" method="POST">
                <img
                    class="mb-4"
                    src="https://res.cloudinary.com/mycloudsb/image/upload/v1668379802/logoformulario_wyemmv.svg"
                    alt="logo"
                    width="80"
                    height="67"
                />
                <h1 class="h3 mb-3 fw-normal" style="color:#ffffff ;">Recuperar Contraseña</h1>

                <div class="form-floating">
                    <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        name="email"
                        placeholder="Correo Electronico"
                    />
                    <label for="floatingInput">Correo electronico</label>
                </div><br>
                <button class="w-100 btn btn-lg btn-warning" type="submit" style="font-size: 85% ;">
                    Recuperar Contraseña
                </button>
                <a href="/auth/register" type="button" style="color: #ffffff;">Registrarse</a>
                <hr />
                <p style="color:#ffffff ;">
                    Para iniciar sesion has
                    <a href="/auth/login" style="color: #ffffff;">click aqui</a>
                </p>
            </form>
        </main>
        </div>
    </div>
</center>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (alertConfig.alert) { %>
        <script>
            Swal.fire({
                title: '<%=alertConfig.title%>',
                text: '<%=alertConfig.text%>',
                icon: '<%=alertConfig.icon%>',
                showConfirmButton: <%=alertConfig.confirmButton%>,
                timer: <%=alertConfig.timer%>,
            }).then(() => {
                window.location = '/<%=alertConfig.route%>'
            })
        </script>
    <% } %>
<%- include ('../presetsViews/footer') %> 