<%- include ('../presetsViews/header',{title:'Registrarse',login:null}) %>
<link rel="stylesheet" href="/css/signin.css">
    <div>
        <main class="form-signin">
            <form id="loginForm" action="/auth/register" method="POST">
                <img
                    class="mb-4"
                    src="/img/logo.svg"
                    alt="logo"
                    width="80"
                    height="67"
                />
                <h1 class="h3 mb-3 fw-normal">Registrarse</h1>
                <div class="form-floating">
                    <input
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        name="username"
                        placeholder="Nombre de usuario"
                    />
                    <label for="floatingInput">Nombre de usuario</label>
                </div>
                <div class="form-floating">
                    <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        name="email"
                        placeholder="Correo Electronico"
                    />
                    <label for="floatingInput">Correo electronico</label>
                </div>
                <div class="form-floating">
                    <input
                        type="password"
                        class="form-control"
                        id="floatingPassword"
                        name="password"
                        placeholder="Contraseña"
                    />
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <div class="form-floating">
                    <input
                        type="password"
                        class="form-control"
                        id="floatingInput"
                        name="confirmPassword"
                        placeholder="Confirma tu contraseña"
                    />
                    <label for="floatingInput">Confirma tu contraseña</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">
                    Registrarse
                </button>
                <p>
                    ¿Ya tienes una cuenta?
                    <a href="/auth/login" type="button">Iniciar Sesion</a>
                </p>
            </form>
        </main>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (alertConfig.alert) { %>
        <script>
            Swal.fire({
                title: '<%=alertConfig.title%>',
                text: '<%=alertConfig.text%>',
                icon: '<%=alertConfig.icon%>',
                showConfirmButton: <%=alertConfig.confirmButton%>,
                timer: <%=alertConfig.timer%>,
            }).then(() => {
                window.location = '/<%=alertConfig.route%>'
            })
        </script>
    <% } %>
<%- include ('../presetsViews/footer') %> 