<html>

    <%- include('../presetsViews/header',{title: 'PayTooWin',login:true,username:login.username}) %>


    
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/cuenta.css">
</head>
<body>

    <div class="body-content">
        
        
<div class="header">
  <h2>Perfil de usuario</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <a href="/account/cuenta" class="nav-link" style="color: black;"  > Cambiar Contraseña</a>
        <a href="/account/updateEmailClient" class="nav-link" style="color: black;"  > Cambiar Correo</a>
        <a href="/account/balance" class="nav-link" style="color: black;"  > Saldo y pago</a>
        <a href="#" class="nav-link" style="color: black;"  > Historial de compras</a>
        <a href="/account/oldSales" class="nav-link" style="color: black;"  > Historial de ventas</a>
        <a href="#" class="nav-link" style="color: black;"  > Reportar cuenta baneada</a>
        <a href="/account/contact" class="nav-link" style="color: black;"  > Ayuda</a>
    </div>
      </div>
    </form>
  </div>
</div>
    </div>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (alertConfig.alert) { %>
        <script>
            Swal.fire({
                title: '<%=alertConfig.title%>',
                text: '<%=alertConfig.text%>',
                icon: '<%=alertConfig.icon%>',
                showConfirmButton: <%=alertConfig.confirmButton%>,
                timer: <%=alertConfig.timer%>,
            }).then(() => {
                window.location = '/<%=alertConfig.route%>'
            })
        </script>
    <% } %>

<%- include('../presetsViews/footer') %> 

</html>