<html>

    <%- include('../presetsViews/header',{title: 'PayTooWin',login:true,username:login.username,rol:login.rol}) %>


    
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/cuenta.css">
</head>
<body>

    <div class="body-content" >
        <h6 class="mb-0"><a href="/account/accountSetting" style="color: #ffffff;"><i
            class="fas fa-long-arrow-alt-left me-2"></i>Volver</a></h6><br>
        

<center>
<div class="row">
    <form action="/getMoney" method="post">
    <div class="card" style="margin:0 auto;">
        <img
                        class="mb-4"
                        src="https://res.cloudinary.com/mycloudsb/image/upload/v1668379802/logoformulario_wyemmv.svg"
                        alt="logo"
                        width="80"
                        height="67"
                        style="margin: 0 auto;"

                    />
        <h2 style="color:#ffffff ;">Saldo y pago</h2><br>
        <h4 class="nav-link" style="color: white;">Saldo disponible: $<%=balance%> USD</h4>
        <button class="w-100 btn btn-lg btn-warning" type="submit" style="font-size: 85% ;">
            Retirar Dinero
        </button>
    </div>
      </div>
      
   
    </form>
  </div>
</div>
    </div>
</center>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (alertConfig.alert) { %>
        <script>
            Swal.fire({
                title: '<%=alertConfig.title%>',
                text: '<%=alertConfig.text%>',
                icon: '<%=alertConfig.icon%>',
                showConfirmButton: <%=alertConfig.confirmButton%>,
                timer: <%=alertConfig.timer%>,
            }).then(() => {
                window.location = '/<%=alertConfig.route%>'
            })
        </script>
    <% } %>

<%- include('../presetsViews/footer') %> 

</html>