<% if (!login) { %> <%- include('../presetsViews/header',{title:
    'Catalogo',login:null}) %> <% }else{ %> <%-
    include('../presetsViews/header',{title:
    'Catalogo',login:true,username:login.username,rol:login.rol}) %> <% } %>
    <center>
        <br>
        <div class="container">
            <div class="row">
                <form action="/products/filter/1" method="get">
                    <%- include('../presetsViews/gameSelect') %> <%-
                    include('../presetsViews/gameType') %> <%-
                    include('../presetsViews/gameDeveloper') %>

                    <input
                        type="submit"
                        class="btn btn-success"
                        value="filtrar"
                    />
                </form>
            </div>
            <div class="row justify-content-center"  >
                <div class="col-12">
                    <% if (msg) { %>
                    <h2 class="page-header"><%= msg %></h2>
                    <% }else{ %>
                    <h2 class="page-header" style="color:#ffffff ;">Catalogo</h2>
                    <%}%>
                </div>
                <br>
    
    
                <% if (products) { %> 
                    <% products.forEach(product => { %>
                            <div class="card w-5 col-md-6 col-sm-12 col-6" style="background-color: #8623F1; border-radius: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 5px; width: 20rem; ">
                                <a
                                    href="/products/product/<%= product.id %> "
                                    style="text-decoration: none; color: #ffffff"
                                >
                                    <div class="caption">
                                        <div class="mb-4">
                                            <br /><label><h2><%= product.game %></h2> </label>
                                        </div>
                
                                        <div
                                            id="carouselExampleControls"
                                            class="carousel slide"
                                            data-bs-ride="carousel"
                                        >
                                            <div class="carousel-inner">
                                                <% product.images.forEach(image=>{ %>
                                                <div class="carousel-item active">
                                                    <img
                                                        height="180rem"
                                                        src="<%=image.url%>"
                                                        class="d-block w-100"
                                                        alt="<%= image.originalname %> "
                                                    />
                                                </div>
                                                <% }) %>
                                            </div>
                                            <button
                                                class="carousel-control-prev"
                                                type="button"
                                                data-bs-target="#carouselExampleControls"
                                                data-bs-slide="prev"
                                            >
                                                <span
                                                    class="carousel-control-prev-icon"
                                                    aria-hidden="true"
                                                ></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button
                                                class="carousel-control-next"
                                                type="button"
                                                data-bs-target="#carouselExampleControls"
                                                data-bs-slide="next"
                                            >
                                                <span
                                                    class="carousel-control-next-icon"
                                                    aria-hidden="true"
                                                ></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                        <br />
                                        <div style="height:5rem ;">
                                            <h4><%= product.title %></h4><br>
                                        </div>
                                        
                                        <a
                                            href="/products/product/<%= product.id %>"
                                            class="btn btn-warning"
                                            target="_blank"
                                            >$<%= product.price %></a
                                        >
                                        <div class="price-mob mb-2">
                                            <%= product.tipoJuego %>
                                        </div>
                                        <div class="price-mob mb-2">
                                            <%= product.paisOrigen %>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                    <% }) %> 
                <% } %>
            </div>
        </div>
        <% if (pages) { %>
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            <% if (current==1) { %>
                <li class="page-item disabled">
                    <a href="#" class="page-link" style="background-color: #ee23f1; color: #ffffff;">Primera pagina </a>
                    </li>
                    <% } else { %> 
                        <li class="page-item">
                            <a href="/products/catalog/1" class="page-link" style="background-color: #8623F1; color: #ffffff;">Primera pagina </a>
                            </li>
                            <% } %>

                            <% var i= (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                <a href="#" class="page-link" style="background-color: #8623F1; color: #ffffff;">.....</a>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>

                                    <% if (i == current) { %>
                                        <li class="page-item">
                                            <a href="<%= i %>" class="page-link" style="background-color: #ee23f1; color: #ffffff;">
                                                <%= i %>
                                            </a>


                                        </li>
                                        <% } else { %>
                                <li class="page-item">
                                    <a href="/products/catalog/<%= i %>" class="page-link" style="background-color: #8623F1; color: #ffffff;">
                                        <%= i %>
                                    </a>
                                </li>

                                <% } %>
                                <% if(i == Number(current) + 4 && i < pages) { %>
                                    <li class="page-item">
                                        <a href="#" class="page-link">...</a>
                                    </li>

                                    <% } %>
                                    <% } %>


                            <% if(current == pages) {  %> 
                                <li class="page-item disabled" >
                                    <a href="#" class="page-link" style="background-color: #ee23f1; color: #ffffff;">Ultima pagina </a>
                                    </li>
                                <% } else {  %>
                                    <li class="page-item">
                                        <a class="page-link" href="/products/catalog/<%=pages%>" style="background-color: #8623F1; color: #ffffff;">Ultima pagina</a>
                                    </li> 

                                    <% } %>
            </ul>
            </nav>
            <% } %>

        <br>
    </center>
    <%- include('../presetsViews/footer') %>
