<% if (!login) { %> <%- include('../presetsViews/header',{title:
'Catalogo',login:null}) %> <% }else{ %> <%-
include('../presetsViews/header',{title:
'Catalogo',login:true,username:login.username}) %> <% } %>
<center>
    <br>
    <div class="container">
        <div class="row">
            <img
                    class="mb-4"
                    src="https://res.cloudinary.com/mycloudsb/image/upload/v1668379802/logoformulario_wyemmv.svg"
                    alt="logo"
                    width="80"
                    height="67"
                />
            <div class="col-12">
                <% if (msg) { %>
                <h2 class="page-header"><%= msg %></h2>
                <% }else{ %>
                <h2 class="page-header" style="color: #ffffff">Catalogo</h2>
                <%}%>
            </div>
            
<!--  
            <div>
                
                <form action="/products/filter/1" method="post">
                    <%- include('../presetsViews/gameSelect') %> <%-
                    include('../presetsViews/gameType') %> <%-
                    include('../presetsViews/gameDeveloper') %>

                    <input
                        type="submit"
                        class="btn btn-success"
                        value="filtrar"
                    />
                </form><br>
            </div>
            -->

            <% if (products) { %> 
                <% products.forEach(product => { %>
                    <% if (product.verified && !product.partialDelete) { %>
                        <div class="card col-md-3 col-6 product-block" style="background-color: #8623F1; border-radius: 10px;">
                            <a
                                href="/products/product/<%= product.id %> "
                                style="text-decoration: none; color: #ffffff"
                            >
                                <div class="caption">
                                    <div class="mb-4">
                                        <br /><label><h2><%= product.game %></h2> </label>
                                    </div>
            
                                    <div
                                        id="carouselExampleControls"
                                        class="carousel slide"
                                        data-bs-ride="carousel"
                                    >
                                        <div class="carousel-inner">
                                            <% product.images.forEach(image=>{ %>
                                            <div class="carousel-item active">
                                                <img
                                                    height="180rem"
                                                    src="<%=image.url%>"
                                                    class="d-block w-100"
                                                    alt="<%= image.originalname %> "
                                                />
                                            </div>
                                            <% }) %>
                                        </div>
                                        <button
                                            class="carousel-control-prev"
                                            type="button"
                                            data-bs-target="#carouselExampleControls"
                                            data-bs-slide="prev"
                                        >
                                            <span
                                                class="carousel-control-prev-icon"
                                                aria-hidden="true"
                                            ></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button
                                            class="carousel-control-next"
                                            type="button"
                                            data-bs-target="#carouselExampleControls"
                                            data-bs-slide="next"
                                        >
                                            <span
                                                class="carousel-control-next-icon"
                                                aria-hidden="true"
                                            ></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                    <br />
                                    <div style="height:5rem ;">
                                        <h4><%= product.title %></h4><br>
                                    </div>
                                    
                                    <a
                                        href="/products/product/<%= product.id %>"
                                        class="btn btn-warning"
                                        target="_blank"
                                        >$<%= product.price %> USD</a
                                    >
                                    <div class="price-mob mb-2">
                                        <%= product.tipoJuego %>
                                    </div>
                                    <div class="price-mob mb-2">
                                        <%= product.paisOrigen %>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                <% }) %> 
            <% } %>
        </div>

    </div>
<div>
<br><br>



    
        <% if (pages) { %>
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            <% if (current==1) { %>
                <li class="page-item disabled">
                    <a href="#" class="page-link" style="background-color: #ee23f1; color: #ffffff;">Primera pagina </a>
                    </li>
                    <% } else { %> 
                        <li class="page-item">
                            <a href="/products/catalog/1" class="page-link" style="background-color: #8623F1; color: #ffffff;">Primera pagina </a>
                            </li>
                            <% } %>

                            <% var i= (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                <a href="#" class="page-link" style="background-color: #8623F1; color: #ffffff;">.....</a>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>

                                    <% if (i == current) { %>
                                        <li class="page-item">
                                            <a href="<%= i %>" class="page-link" style="background-color: #ee23f1; color: #ffffff;">
                                                <%= i %>
                                            </a>


                                        </li>
                                        <% } else { %>
                                <li class="page-item">
                                    <a href="/products/catalog/<%= i %>" class="page-link" style="background-color: #8623F1; color: #ffffff;">
                                        <%= i %>
                                    </a>
                                </li>

                                <% } %>
                                <% if(i == Number(current) + 4 && i < pages) { %>
                                    <li class="page-item">
                                        <a href="#" class="page-link">...</a>
                                    </li>

                                    <% } %>
                                    <% } %>


                            <% if(current == pages) {  %> 
                                <li class="page-item disabled" >
                                    <a href="#" class="page-link" style="background-color: #ee23f1; color: #ffffff;">Ultima pagina </a>
                                    </li>
                                <% } else {  %>
                                    <li class="page-item">
                                        <a class="page-link" href="/products/catalog/<%=pages%>" style="background-color: #8623F1; color: #ffffff;">Ultima pagina</a>
                                    </li> 

                                    <% } %>
            </ul>
            </nav>
            <% } %>
    
    </div>
</div>
    <br>
</center>
<%- include('../presetsViews/footer') %>
