<% if (!login) { %>
    <%- include('../presetsViews/header',{title: 'Catalogo',login:null}) %>
<% }else{ %>
    <%- include('../presetsViews/header',{title: 'Catalogo',login:true,username:login.username}) %>
<% } %> 
<div class="container">
	<div class="row">
		<div class="col-12">
            <% if (msg) { %>
                <h2 class="page-header"><%= msg %></h2>
            <% }else{ %>
			<h2 class="page-header">Catalogo</h2>
            <%}%>
		</div>
        <% if (products) { %>
            <% products.forEach(product => { %>
                <div class="col-md-3 col-6 product-block">
                    <a href="/products/product/<%= product.id %> " style="text-decoration: none;color: #000000">
                        <div class="caption">
                            <h3><%= product.title %> </h3>
                            <div class="mb-4"><label><%= product.game %> </label></div>
                            <div class="price-mob mb-2"><%= product.price %> </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            <% }) %>
        <% } %>
	</div>
</div>
<%- include('../presetsViews/footer') %>
