<% if (!login) { %> <%- include('../presetsViews/header',{title:
'Catalogo',login:null}) %> <% }else{ %> <%-
include('../presetsViews/header',{title:
'Catalogo',login:true,username:login.username}) %> <% } %>
<center>
    <br>
    <div class="container">
        <div class="row">
            <img
                    class="mb-4"
                    src="https://res.cloudinary.com/dfbisj1ch/image/upload/v1665954342/PTW/LogoPTW_Logo_PTW_gouqmx.svg"
                    alt="logo"
                    width="80"
                    height="67"
                />
            <div class="col-12">
                <% if (msg) { %>
                <h2 class="page-header"><%= msg %></h2>
                <% }else{ %>
                <h2 class="page-header">Catalogo</h2>
                <%}%>
            </div>
            

            <div>
                <form action="/products/filter" method="post">
                    <%- include('../presetsViews/gameSelect') %> <%-
                    include('../presetsViews/gameType') %> <%-
                    include('../presetsViews/gameDeveloper') %>

                    <input
                        type="submit"
                        class="btn btn-success"
                        value="filtrar"
                    />
                </form>
            </div>

            <% if (products) { %> 
                <% products.forEach(product => { %>
                    <% if (product.verified) { %>
                        <div class="card col-md-3 col-6 product-block">
                            <a
                                href="/products/product/<%= product.id %> "
                                style="text-decoration: none; color: #000000"
                            >
                                <div class="caption">
                                    <div class="mb-4">
                                        <br /><label><h2><%= product.game %></h2> </label>
                                    </div>
            
                                    <div
                                        id="carouselExampleControls"
                                        class="carousel slide"
                                        data-bs-ride="carousel"
                                    >
                                        <div class="carousel-inner">
                                            <% product.images.forEach(image=>{ %>
                                            <div class="carousel-item active">
                                                <img
                                                    height="180rem"
                                                    src="<%=image.url%>"
                                                    class="d-block w-100"
                                                    alt="<%= image.originalname %> "
                                                />
                                            </div>
                                            <% }) %>
                                        </div>
                                        <button
                                            class="carousel-control-prev"
                                            type="button"
                                            data-bs-target="#carouselExampleControls"
                                            data-bs-slide="prev"
                                        >
                                            <span
                                                class="carousel-control-prev-icon"
                                                aria-hidden="true"
                                            ></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button
                                            class="carousel-control-next"
                                            type="button"
                                            data-bs-target="#carouselExampleControls"
                                            data-bs-slide="next"
                                        >
                                            <span
                                                class="carousel-control-next-icon"
                                                aria-hidden="true"
                                            ></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                    <br />
                                    <div style="height:5rem ;">
                                        <h4><%= product.title %></h4><br>
                                    </div>
                                    
                                    <a
                                        href="/products/product/<%= product.id %>"
                                        class="btn btn-outline-warning"
                                        target="_blank"
                                        >$<%= product.price %></a
                                    >
                                    <div class="price-mob mb-2">
                                        <%= product.tipoJuego %>
                                    </div>
                                    <div class="price-mob mb-2">
                                        <%= product.paisOrigen %>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                <% }) %> 
            <% } %>
        </div>

    </div>

    <div class="row">
        <% if (pages) { %>
            <nav class="mx-auto"
            <ul class="pagination">
            <% if (current==1) { %>
                <li class="page-item disabled">
                    <a href="#" class="page-link">Primera pagina </a>
                    </li>
                    <% } else { %> 
                        <li class="page-item">
                            <a href="/products/catalog/1" class="page-link">Primera pagina </a>
                            </li>
                            <% } %>


                            <% if(current == pages) {  %> 
                                <li class="page-item disabled" >
                                    <a href="#" class="page-link">Ultima pagina </a>
                                    </li>
                                <% } else {  %>
                                    <li class="page-item">
                                        <a class="page-link" href="/products/catalog/<%=pages%>">Ultima pagina</a>
                                    </li> 

                                    <% } %>
            </ul>
        </nav>
            <% } %>
    </div>
    </div>
    <br>
</center>
<%- include('../presetsViews/footer') %>
