<% if (!login) { %>
    <%- include('../presetsViews/header',{title: product.title,login:null}) %>
<% }else{ %>
    <%- include('../presetsViews/header',{title: product.title,login:true,username:login.username}) %>
<% } %> 
    <center>
        <div class="card col-md-3 col-6 product-block">
            <h2><%= product.title %></h2>
            <p><%= product.level %> </p>
            <% product.images.forEach(image=>{
            %>
            <img src="<%=image.url%> " alt="<%= image.originalname %> ">
            <%
            }) %> 
            <p><%= product.description %></p>
            <p><%= product.price %> </p>
            <form action="/products/cart" method="post">
                <input type="hidden" name="product" value="<%=product%>"/>
                <input type="hidden" name="user">
                <input type="submit" class="btn btn-success" value="Agregar al carrito" />
            </form>
        </div>
    </center>
<%- include('../presetsViews/footer') %> 