<% if (!login) { %>
    <%- include('../presetsViews/header',{title: product.title,login:null}) %>
<% }else{ %>
    <%- include('../presetsViews/header',{title: product.title,login:true,username:login.username}) %>
<% } %> 
    <center><br>
        <div class="card col-md-3 col-6 product-block"><br>
            <h2><%= product.title %></h2>
            <p><h4>Nivel </h4><%= product.level %> </p>
            <% product.images.forEach(image=>{
            %>
            <img src="<%=image.url%> " alt="<%= image.originalname %> ">
            <%
            }) %> <br>
            <p><%= product.description %></p>
            <p>$<%= product.price %> </p>
            <% if (login) { %>
                <form action="/commerce/addToCart" method="post">
                    <input type="hidden" name="idProduct" value="<%=product.id%>"/>
                    <input type="submit" class="btn btn-outline-warning" value="Agregar al carrito" />
                </form>
            <% }else{ %>
                <a href="/auth/login">Iniciar Sesion</a>
            <%}%>
            <br>
        </div><br>
    </center>
<%- include('../presetsViews/footer') %> 