<% if (!login) { %>
    <%- include('../presetsViews/header',{title: product.title,login:null}) %>
<% }else{ %>
    <%- include('../presetsViews/header',{title: product.title,login:true,username:login.username}) %>
<% } %> 
    <center>
        <div>
            <h2><%= product.title %></h2>
            <p><%= product.level %> </p>
            <% product.images.forEach(image=>{
            %>
            <img src="<%=image.url%> " alt="<%= image.originalname %> ">
            <%
            }) %> 
            <p><%= product.description %></p>
            <p><%= product.price %> </p>
            <form action="/products/cart" method="post">
                <input type="hidden" name="product" value="<%=product%>"/>
                <input type="hidden" name="user">
                <input type="submit" value="Agregar al carrito" />
            </form>
        </div>
    </center>
<%- include('../presetsViews/footer') %> 