<html>
    <% if (!login) { %> <%- include('../presetsViews/header',{title:
    product.title,login:null}) %> <% }else{ %> <%-
    include('../presetsViews/header',{title:
    product.title,login:true,username:login.username,rol:login.rol}) %> <% } %>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/css/product.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container">
            <div class="pt-5">
                <div class="back " >
                    <h6 class="mb-0">
                        <a href="/products" class=""
                            style="color: #ffffff;"><i class="fas fa-long-arrow-alt-left me-2"></i>Ir
                            al catalogo</a
                        >
                    </h6>
                </div>
            </div>
            <div class="card m-0 mt-2 text-center" style="background-color: #8623F1; border-radius: 10px;">
                <div class="container-fliud">
                    <div class="row col-sm-12">
                        <div
                            id="carouselExampleControls"
                            class="carousel slide col-lg-6 col-sm-12 h-25"
                            data-bs-ride="carousel"
                        >
                            <div class="carousel-inner">
                                <% product.images.forEach(image=>{ %>
                                <div class="carousel-item active">
                                    <img
                                        
                                        height="100rem"
                                        src="<%=image.url%>"
                                        class="image"
                                        alt="<%= image.originalname %> "
                                    />
                                </div>
                                <% }) %>
                            </div>
                            <button
                                class="carousel-control-prev"
                                type="button"
                                data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev"
                            >
                                <span
                                    class="carousel-control-prev-icon"
                                    aria-hidden="true"
                                ></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button
                                class="carousel-control-next"
                                type="button"
                                data-bs-target="#carouselExampleControls"
                                data-bs-slide="next"
                            >
                                <span
                                    class="carousel-control-next-icon"
                                    aria-hidden="true"
                                ></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="details col-md-6" style="color: #ffffff;">
                            <h2><%= product.title %></h2>

                            <p class="product-description">
                                <%= product.description %>
                            </p>
                            <p class="product-description">
                                Nivel: <%= product.level %>
                            </p>
                            <h4 class="price">$<%= product.price %> USD</h4>

                            <% if (login) { 
                                if(haveTheProductInCart){%>
                                    <button disabled="disabled" class="btn btn-warning disabled"> Ya tienes este producto en el carrito </button>
                                <% }else{ %>
                                    <form action="/commerce/addToCart" method="post">
                                        <input
                                            type="hidden"
                                            name="idProduct"
                                            value="<%=product.id%>"
                                        />
                                        <input
                                            type="submit"
                                            class="btn btn-warning"
                                            value="Agregar al carrito"
                                        />
                                    </form>
                                <% } %>  
                            <% }else{ %>
                            <a href="/auth/login" style="color: #ffffff;" class="iniciar"
                                >Iniciar Sesion</a
                            >
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <%- include('../presetsViews/footer') %>
</html>
