<% if (!login) { %>
    <%- include('../presetsViews/header',{title:`Update products` ,login:null}) %>
<% }else{ %>
    <%- include('../presetsViews/header',{title: 'Update products' ,login:true,username:login.username,rol:login.rol}) %>
<% } %> 
<div class="container">
    <div class="row">

        <% if (msg) {%>
            <center>
            <h1><%=msg%></h1>
        </center>
            <%}%>
        <% if (products) { %>
            <% products.forEach(product => { %>
                <div class="card col-md-3 col-6 product-block" style="background-color: #8623F1; border-radius: 10px; padding-bottom: 20px;">
                    <a href="/products/update-product/<%= product.id %> " style="text-decoration: none;color: #ffffff">

                        <div class="caption">

                            <div class="mb-4">
                                <br /><label><h5>ID: <%= product.id %></h5> </label>
                            </div>
                            <div class="mb-4">
                                <br /><label><h2><%= product.game %></h2> </label>
                            </div>
    
                            <div
                                id="carouselExampleControls"
                                class="carousel slide"
                                data-bs-ride="carousel"
                            >
                                <div class="carousel-inner">
                                    <% product.images.forEach(image=>{ %>
                                    <div class="carousel-item active">
                                        <img
                                            height="180rem"
                                            src="<%=image.url%>"
                                            class="d-block w-100"
                                            alt="<%= image.originalname %> "
                                        />
                                    </div>
                                    <% }) %>
                                </div>
                                <button
                                    class="carousel-control-prev"
                                    type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="prev"
                                >
                                    <span
                                        class="carousel-control-prev-icon"
                                        aria-hidden="true"
                                    ></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button
                                    class="carousel-control-next"
                                    type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="next"
                                >
                                    <span
                                        class="carousel-control-next-icon"
                                        aria-hidden="true"
                                    ></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <br />
                            <div style="height:5rem ;">
                                <h4><%= product.title %></h4><br>
                            </div>
                            <center>
                            <a
                            href="/products/update-product/<%= product.id %> "
                                class="btn btn-warning"
                                target="_blank"
                                >$<%= product.price %> USD</a
                            >
                            <div class="clearfix"></div>
                        
                            <% if(!product.verified) {%>
                                <a
                                href="/products/update-product/<%= product.id %> "
                                class="btn btn-danger"
                                target="_blank"
                                >NO VERIFICADA</a
                            >
                                <% } %>
                            </center>
                        </div>
                    </a>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>
<%- include ('../presetsViews/footer') %> 