<%- include ('../presetsViews/header',{title:'Registrarse',login:true,username:login.username,rol:login.rol}) %>
<link rel="stylesheet" href="/css/signin.css">
<link
			rel="shortcut icon"
			href="https://res.cloudinary.com/mycloudsb/image/upload/v1658334593/logo_exjlzw.ico"
			type="image/x-icon"
		/>
        <center>
    <div>
        <div class="card col-md-2 col-6" style="background-color: #8623F1; border-radius: 10px; margin-left: 5px; margin-right: 30px; margin-bottom: 5px;margin-top: 30px; width: 60%; align-items: center; ">
        <main class="form-signin">
            <form id="loginForm" action="/admin/register" method="POST">
                <img
                    class="mb-4"
                    src="https://res.cloudinary.com/mycloudsb/image/upload/v1668379802/logoformulario_wyemmv.svg"
                    alt="logo"
                    width="80"
                    height="67"
                />
                <h1 class="h3 fw-normal" style="color:#ffffff ;">Registrarse</h1>
                <select class="form-select mb-1" aria-label="Default select example" name="rol">
                    <option selected>Selecciona el rol y accesibilidad del usuario</option>
                    <option value="admin">Administrador</option>
                    <option value="client">Cliente</option>
                  </select>
                <div class="form-floating">
                    <input
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        name="username"
                        placeholder="Nombre de usuario"
                    />
                    <label for="floatingInput">Nombre de usuario</label>
                </div>
                <div class="form-floating">
                    <%- include('../presetsViews/countryDatalist')  %> 
                </div>
                <div class="form-floating">
                    <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        name="email"
                        placeholder="Correo Electronico"
                    />
                    <label for="floatingInput">Correo electronico</label>
                </div>
                <div class="form-floating">
                    <input
                        type="password"
                        class="form-control"
                        id="floatingPassword"
                        name="password"
                        placeholder="Contrase単a"
                    />
                    <label for="floatingPassword">Contrase単a</label>
                </div>
                <div class="form-floating">
                    <input
                        type="password"
                        class="form-control"
                        id="floatingInput"
                        name="confirmPassword"
                        placeholder="Confirma tu contrase単a"
                    />
                    <label for="floatingInput">Confirma tu contrase単a</label>
                </div>
                <button class="w-100 btn btn-lg btn-warning" type="submit">
                    Crear Usuario
                </button>
            </form>
            
        </main>
        </div>
    </center>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (alertConfig.alert) { %>
        <script>
            Swal.fire({
                title: '<%=alertConfig.title%>',
                text: '<%=alertConfig.text%>',
                icon: '<%=alertConfig.icon%>',
                showConfirmButton: <%=alertConfig.confirmButton%>,
                timer: <%=alertConfig.timer%>,
            }).then(() => {
                window.location = '/<%=alertConfig.route%>'
            })
        </script>
    <% } %>
<%- include ('../presetsViews/footer') %> 