<html>

    <%- include('../presetsViews/header',{title: 'PayTooWin',login:true,username:login.username}) %>


    
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/cuenta.css">
</head>
<body>

    <div class="body-content">
        <h6 class="mb-0"><a href="/accountSetting" class="text-body"><i
            class="fas fa-long-arrow-alt-left me-2"></i>Volver</a></h6><br>
        
<div class="header">
  <h2>Saldo y pago</h2>
</div>
<center>
<div class="row">
    <form action="/getMoney" method="post">
  <div class="leftcolumn">
    <div class="card">
        <h4 class="nav-link" style="color: black;">Saldo disponible: $<%=balance%></h4>
        
    </div>
      </div>
      <button class="w-100 btn btn-lg btn-outline-warning" type="submit">
        Retirar Dinero
    </button>
   
    </form>
  </div>
</div>
    </div>
</center>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (alertConfig.alert) { %>
        <script>
            Swal.fire({
                title: '<%=alertConfig.title%>',
                text: '<%=alertConfig.text%>',
                icon: '<%=alertConfig.icon%>',
                showConfirmButton: <%=alertConfig.confirmButton%>,
                timer: <%=alertConfig.timer%>,
            }).then(() => {
                window.location = '/<%=alertConfig.route%>'
            })
        </script>
    <% } %>

<%- include('../presetsViews/footer') %> 

</html>