
<%- include ('../presetsViews/header',{title:'Iniciar Sesion',login:true,username:login.username,rol:login.rol}) %> 

<link rel="stylesheet" href="./css/cart.css">
<section class="h-100 h-custom mb-50" style="background-color: #bfa0ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="background-color: #8623F1;border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5" style="color:#ffffff ;">
                      <h1 class="fw-bold mb-0 text-black">Carrito de compras</h1>
                      <h6 class="mb-0" style="color:#ffffff ;"><%= cart.length %>  productos</h6>
                    </div>
                    <hr class="my-4" style="color:#ffffff ;">
                    <% let total=0
                    cart.forEach(product => { %>
                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="<%= product.images[0].url %> "
                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3" style="color:#ffffff ;">
                          <h6 class="" >Nivel: <%= product.level %> </h6>
                          <h6 class="text-black mb-0"><%= product.title %> </h6>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1" style="color:#ffffff ;">
                          <h6 class="mb-0">$ <%= product.price %> USD </h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <form action="/commerce/deleteProductFromCart" method="post">
                            <input type="hidden" name="idProduct" value="<%=product.id%>">
                            <input type="submit" value="Eliminar" class="btn btn-danger btn-xs">
                          </form>
                        </div>
                      </div>
                      <hr class="my-4">
                    <% total+= product.price
                    }) %>
                    <div class="pt-5">
                      <h6 class="mb-0"><a href="/products" class="" style="color: #ffffff ;"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Ir al catalogo</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Resumen</h3>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Productos: <%= cart.length %> </h5>
                      <h5>$ <%= total %> USD </h5>
                    </div>
                    <h5 class="text-uppercase mb-3">Código de descuento</h5>
                    <div class="mb-5">
                      <div class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" disabled="true" />
                        <label class="form-label" for="form3Examplea2">Ingresa aquí tu codigo</label>
                      </div>
                    </div>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total a pagar</h5>
                      <h5>$ <%= total %> USD</h5>
                    </div>
                    <% if (cart.length === 0) { %>
                      
                      <a type="button" class="btn btn-dark btn-block btn-lg disabled"
                      data-mdb-ripple-color="dark" href="/commerce/createOrderPayPal">Pagar Por Paypal</a>
                    <% }else{ %>
                      <a type="button" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark" href="/commerce/createOrderPayPal">Pagar Por Paypal</a>
                    <%}%>
                    <%  if (paymentId) { %>
                      <script src="https://sdk.mercadopago.com/js/v2"></script>
                      <div class="cho-container btn btn-primary mt-4 p-0 h-200"></div>
                      <script>
                        const mp = new MercadoPago('TEST-db3026d4-cf9f-4ee2-9a67-483a40c6af81', {
                          locale: 'es-CL'
                        });

                        mp.checkout({
                          preference: {
                            id: '<%=paymentId%>'
                          },
                          render: {
                            container: '.cho-container',
                            label: 'Pagar Por mercadopago',
                          }
                        });
                      </script>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include ('../presetsViews/footer')  %> 