<%-include('../presetsViews/header',{title:'PayTooWin',login:true,username:login.username,rol:login.rol}) %>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="./css/factura.css" />
<link
	rel="shortcut icon"
	href="https://res.cloudinary.com/mycloudsb/image/upload/v1658334593/logo_exjlzw.ico"
	type="image/x-icon"
/>


    <div class="centrar p-5" style="background-color: #ffffff;"> 

    <h1>Gracias Por Comprar En PayTooWin</h1>

    <div class="row my-3">
      <div class="col-10">
        <h6>La informacion de sus productos fue enviada a su correo</h6>
        <p>Ante cualquier inconveniente ponerse en contacto mediante el formulario de ayuda</p>
      </div>
      <div class="col-2">
        <img src="https://res.cloudinary.com/mycloudsb/image/upload/v1669606594/ax6lc-9utsx_tk3qpk.svg" alt="logo" width="150px" class="logo"/>
      </div>
    </div>
  
    <hr />
  
    <div class="row fact-info mt-1">
      <div class="col-3">
        <h5>Comprador: </h5>
        <p>
            <%= sale.buyer[0].username %> 
        </p>
      </div>
      <div class="col-3">
        <h5>Enviar a</h5>
        <p>
          <%= sale.buyer[0].email %> 
        </p>
      </div>
      <div class="col-3">
        <h5>ID Compra</h5>
        <p><%= sale.id %> </p>
      </div>
      <div class="col-3">
        <h5>Fecha Compra</h5>
        <p><%= `${sale.createdAt.getFullYear()}-${sale.createdAt.getMonth()+1}-${sale.createdAt.getDate()}` %> </p>
      </div>
    </div>
  
    <div class="row my-5">
      <table class="table table-borderless factura">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Juego</th>
            <th>Precio Unitario</th>
          </tr>
        </thead>
        <tbody>
          <% sale.products.forEach(product=>{%>
            <tr>
              <td><%= product.title %> </td>
              <td><%= product.description %> </td>
              <td><%= product.game %> </td>
              <td>$<%= product.price %> </td>
            </tr>
          <%}) %> 
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th>Total Factura</th>
            <th>$<%=sale.total %> </th>
          </tr>
        </tfoot>
      </table>
    </div> 
</div>

<%- include('../presetsViews/footer') %>
